apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', 'lib/group/{{ stacker_subgroup }}/ca.pem') | b64encode }}
    server: https://{{ k8s_api_address }}:6443
  name: kubernetes-the-hard-way
contexts:
- context:
    cluster: kubernetes-the-hard-way
    user: system:node:{{ inventory_hostname }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate-data: {{ lookup('file', 'lib/host/{{ inventory_hostname }}/kubelet.pem') | b64encode }}
    client-key-data: {{ lookup('file', 'lib/host/{{ inventory_hostname }}/kubelet-key.pem') | b64encode }}

