apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', 'lib/group/{{ stacker_subgroup }}/ca.pem') | b64encode }}
    server: https://127.0.1.1:6443
  name: kubernetes-the-hard-way
contexts:
- context:
    cluster: kubernetes-the-hard-way
    user: system:kube-controller-manager
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate-data: {{ lookup('file', 'lib/group/{{ stacker_subgroup }}/kube-controller-manager.pem') | b64encode }}
    client-key-data: {{ lookup('file', 'lib/group/{{ stacker_subgroup }}/kube-controller-manager-key.pem') | b64encode }}

