- name: Create CNI Binary Directory
  file:
    path: /opt/cni/bin
    state: directory
  tags:
    - binaries

- name: Install CNI Binaries
  unarchive:
    src: https://github.com/containernetworking/plugins/releases/download/v{{ cni_version }}/cni-plugins-linux-amd64-v{{ cni_version }}.tgz
    dest: /opt/cni/bin/
    owner: root
    group: root
    remote_src: yes
  tags:
    - binaries


- name: Create CNI Directories
  file:
    path: /etc/cni/net.d
    state: directory
  tags:
    - config

- name: cni configuration (bridge)
  template:
    src: templates/cni-10-bridge.conf.j2
    dest: /etc/cni/net.d/10-bridge.conf
  tags:
    - config

- name: cni configuration (loopback)
  copy:
    src: files/cni-99-loopback.conf
    dest: /etc/cni/net.d/99-loopback.conf
  tags:
    - config

